<h2> User List</h2>
<table class="table table-striped">
     <thead>
          <tr>
            <th> Login</th>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Birthday</th>
            <th> Email</th>
            <th> Role </th>
            <th> Actions</th>
         </tr>
    </thead>
  <tbody>
          <tr *ngFor = "let user of users" >
            <td> {{ user.login }} </td>
            <td> {{ user.firstName }} </td>
            <td> {{ user.lastName }} </td>
            <td> {{ user.birthday }} </td>
            <td> {{ user.email }} </td>
            <td> {{ user.role.name}}</td>
            <td>
              <button (click) = "updateUser(user.id)" class = "btn btn-info"> Update</button>
              <button (click) = "deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
              <button (click) = "userDetails(user.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
          </tr>
  </tbody>
</table>
